name: Run Tests

on:
  push:
    branches: 
      - '*'
      - '!main'
  # pull_request:
  #   branches:
  #       - main

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-cov pytest-asyncio httpx

      - name: Run tests
        run:
          pytest $(git diff --name-only origin/${{ github.base_ref }} HEAD | grep '\.py$')

      # - name: Upload coverage reports
      #   uses: codecov/codecov-action@v4
      #   if: success()
      #   with:
      #     fail_ci_if_error: false
